.card
  overflow: hidden

.artice-title
  font-size: 34px
  padding-top: 40px
  margin-bottom: 40px

.card-img
  width: 320px
  height: 350px
  // overflow: hidden

.cards
  display: flex
  align-items: center
  justify-content: center
  border-radius: 10px
  gap: 50px
  padding-bottom: 30px
  .card
    box-shadow: 1px 1px 1px 1px #0000005c
    transition: .7s all

    &:hover
      box-shadow: 4px 6px 10px 5px #0000005c
      transform: translate(1.5)
