.section
  position: relative
  z-index: 10
  .title
    text-align: center
    color: $white
    font-size: 50px
    max-width: 100%
    margin: 0 auto
    padding-top: 280px
    line-height: 65px
    // text-shadow: 20px 10px 10px 10px #000

@include media(700px)
  .title
    font-size: 36px !important
    line-height: 0
    padding: 5px
    padding-top: 0px

@include media(340px)
  .title
    font-size: 28px !important
    line-height: 40px !important
    padding-top: 180px !important
