@import includes/mixin
@import includes/font
@import includes/var

@import includes/section
@import includes/article

@import layout/header
@import layout/footer

*
  margin: 0
  padding: 0
  text-decoration: none
  color: inherit
  box-sizing: border-box
  font-family: $font-nunito

html
  scroll-behavior: smooth

.container
  +container(1280px)
  // margin: 0 auto

.banner-bg
  background: url("../img/banner.jpg") no-repeat center
  background-size: cover
  min-height: 100vh
  position: relative
  z-index: 5
  // z-index: 10
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background: #00000085
    z-index: 10
