@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-Reguar.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-SemiBold.ttf);
  font-weight: 400;
  font-style: normal;
}
.section {
  position: relative;
  z-index: 10;
}
.section .title {
  text-align: center;
  color: #fff;
  font-size: 50px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 350px;
  line-height: 65px;
}
.section .sub-title {
  color: #fff;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

.image-icons__arrow {
  display: flex;
  justify-content: center;
  padding-top: 155px;
}

.arrow-down {
  width: 40px;
  color: #fff;
}

@media (max-width: 700px) {
  .title {
    font-size: 36px !important;
    line-height: 0;
    padding: 5px;
    padding-top: 0px;
  }
}
@media (max-width: 340px) {
  .title {
    font-size: 28px !important;
    line-height: 40px !important;
    padding-top: 160px !important;
  }
}
.sub-down__desc {
  padding-top: 100px;
}
.sub-down__desc .sub-down__title {
  text-align: center;
  color: #fff;
  font-size: 39px;
}

.article-bg {
  background: #d1d4d9;
}

.article {
  padding-top: 50px;
}

.subDesc {
  font-size: 30px;
  color: #260a2f;
  line-height: 45px;
}

.order-info__desc {
  font-size: 24px;
  padding-top: 30px;
  opacity: 0.8;
  font-weight: 500;
  padding: 12px;
}

.article__title {
  font-size: 40px;
  padding: 20px;
  text-decoration: underline;
  padding-top: 40px;
  margin-bottom: 40px;
}

.article-sub__title {
  font-size: 20px;
}

.slider-images {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.swiper .subTitle {
  font-size: 18px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.main-blog__dresses {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
}

.mySwiper {
  display: flex;
  justify-content: center;
}

.dress-title {
  font-size: 26px;
  margin-bottom: 40px;
}

.desc-order {
  font-size: 20px;
  margin-bottom: 8px;
}

.order-title {
  font-size: 26px;
  padding-top: 35px;
}

.order-text {
  font-size: 20px;
  padding-top: 12px;
}

@media (max-width: 768px) {
  .subDesc {
    padding: 12px;
  }
  .order-info__desc {
    padding: 12px;
  }
  .main-blog__dresses {
    padding: 12px;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 320px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding-top: 300px;
  }
  .sub-down__title {
    font-size: 17px !important;
    text-align: center;
    font-weight: 500;
  }
  .subDesc {
    padding: 10px;
    font-size: 22px;
    line-height: 30px;
  }
  .blog-dress__desc {
    padding: 10px;
    font-size: 16px;
  }
  .blog-dress__desc .dress-title {
    text-align: center;
    font-size: 22px;
  }
  .article__title {
    font-size: 26px;
  }
  .order-title {
    font-size: 24px;
  }
  .order__desc {
    padding: 12px;
  }
  .dress-title {
    font-size: 20px;
  }
}
.header {
  padding: 35px;
  position: relative;
  z-index: 12;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  backdrop-filter: blur(10px);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container .logo {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}
.header__container .nav {
  display: flex;
  gap: 45px;
  align-items: center;
}
.header__container .nav__link {
  font-size: 16px;
  font-weight: 500;
  color: #bdb8b8;
  transition: 0.6s all;
  position: relative;
  color: #fff;
}
.header__container .nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #FF2625;
  width: 0;
  height: 2px;
  transition: 0.8s all;
}
.header__container .nav__link:hover::before {
  width: 100%;
  height: 2px;
  background: #ffffff;
  color: #fff;
}

.header.scrolled {
  transition: 0.2s all ease-in-out;
  background: #250853;
  box-shadow: 12px 0px 12px 4px #250853;
}

.line {
  border-bottom: solid 1px #bdb8b8;
}

.hamburger {
  display: none;
}

@media (max-width: 570px) {
  .hamburger {
    display: block;
    z-index: 40;
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 100vh;
    background: #080335;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.8s all;
    z-index: 40;
  }
  .nav.is-active {
    transform: translateX(0);
  }
  .nav.is-active .nav__link {
    color: #fff;
    font-weight: bold;
  }
}
.title__footer {
  text-align: center;
  font-size: 36px;
}

.footer {
  padding-top: 100px;
}

.footer__content {
  display: flex;
  padding-top: 45px;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.text-about {
  max-width: 100%;
  margin: 0 auto;
  line-height: 35px;
  font-size: 24px;
  color: #000;
}

.text-about__factory {
  font-size: 24px;
  opacity: 0.9;
  color: #000;
  line-height: 35px;
  padding-top: 35px;
}

.map-title {
  padding-top: 75px;
  padding-bottom: 45px;
  font-size: 26px;
}

.diplomas {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 50px;
}

.diplom-img {
  width: 250px;
  height: 300px;
}
.diplom-img .diplom__image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 40px;
  transition: 0.5s all;
}
.diplom-img .diplom__image:hover {
  transform: scale(1.04);
  box-shadow: 4px 6px 10px 4px rgba(0, 0, 0, 0.4235294118);
}

.diplom-title {
  text-align: center;
  font-size: 42px;
}

.dipom2 {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.diplom3 {
  display: flex;
  gap: 25px;
}

iframe {
  border-radius: 14px;
  max-width: 100%;
}

.numbers {
  display: flex;
  flex-direction: column;
}

.title-contact {
  font-size: 24px;
  padding-bottom: 25px;
}

.social-blog {
  margin-top: 140px;
  background: #250853;
  color: #fff;
  padding: 45px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-footer {
  font-weight: 700;
  font-size: 36px;
}

.phone {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  gap: 14px;
}

.whatsapp {
  align-items: center;
  display: flex;
  align-items: center;
  gap: 14px;
}

.whatsapp-logo {
  width: 30px;
  height: 30px;
}

.telegram {
  display: flex;
  align-items: center;
  gap: 14px;
}

.blog-whatsapp {
  padding-bottom: 24px;
}

.footer-social__media {
  display: flex;
  gap: 100px;
  max-width: 100%;
}

.name-city {
  padding-bottom: 35px;
}

@media (max-width: 990px) {
  .diplomas {
    max-width: 100%;
    display: flex;
    gap: 45px;
    justify-content: center;
  }
  .diplom-img {
    width: 200px;
    height: auto;
    object-fit: cover;
  }
  .diplom-img .diplom__image {
    width: 100%;
  }
  .diplom3 {
    display: flex;
    gap: 14px;
  }
  .dipom2 {
    display: flex;
    gap: 14px;
  }
}
@media (max-width: 770px) {
  .diplom-img {
    object-fit: cover;
  }
}
@media (max-width: 570px) {
  .diplomas {
    display: flex;
    justify-content: center;
  }
  .footer-social__media {
    display: flex;
    flex-direction: column;
  }
  .dipom2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .diplom3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 465px) {
  .footer-social {
    display: flex;
    flex-direction: column;
  }
  .logo-footer {
    font-size: 40px;
    padding-bottom: 120px;
  }
  .diplomas {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 340px) {
  .diplomas {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .diplom-title {
    font-size: 35px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: Nunito;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  margin: 0 auto;
}

.banner-bg {
  background: url("../img/banner.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  z-index: 5;
}
.banner-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5215686275);
  z-index: 10;
}

/*# sourceMappingURL=style.css.map */
