.title__footer
  text-align: center
  font-size: 36px

.footer
  padding-top: 100px

.footer__content
  display: flex
  padding-top: 45px
  flex-direction: column
  align-items: center
  // gap: 50px`
  padding: 15px

.text-about
  max-width: 100%
  margin: 0 auto
  line-height: 35px
  font-size: 24px
  color: #000

.text-about__factory
  font-size: 24px
  opacity: 0.9
  color: #000
  line-height: 35px
  padding-top: 35px

.map-title
  padding-top: 75px
  padding-bottom: 45px
  font-size: 26px

.diplomas
  padding-top: 56px
  display: flex
  flex-direction: column
  gap: 40px
  padding-bottom: 50px

.diplom-img
  width: 250px
  height: 300px
  object-fit: cover
  .diplom__image
    max-width: 100%
    height: 100%
    // border-radius: 12px
    border-bottom-left-radius: 40px
    transition: .5s all
    &:hover
      transform: scale(1.04)
      box-shadow: 4px 6px 10px 4px #0000006c

.diplom-title
  text-align: center
  font-size: 42px

.dipom2
  display: flex
  justify-content: center
  gap: 25px

.diplom3
  display: flex
  gap: 25px

iframe
  border-radius: 14px
  max-width: 100%

.numbers
  display: flex
  // align-items: center
  flex-direction: column

.title-contact
  font-size: 24px
  padding-bottom: 25px

.social-blog
  margin-top: 140px
  background: #382b4b
  color: #fff
  padding: 25px

.footer-social
  display: flex
  align-items: center
  justify-content: space-between

.logo-footer
  font-weight: 700
  font-size: 36px

.phone
  display: flex
  align-items: center
  padding-bottom: 25px
  gap: 14px
  font-weight: 500

.whatsapp
  align-items: center
  display: flex
  align-items: center
  gap: 14px

.email
  align-items: center
  display: flex
  align-items: center
  gap: 14px

.whatsapp-logo
  width: 30px
  height: 30px
  // border-radius: 50%

.telegram
  display: flex
  align-items: center
  gap: 14px

.email-logo
  width: 35px

.blog-whatsapp
  padding-bottom: 24px

.footer-social__media
  display: flex
  gap: 100px
  max-width: 100%

.name-city
  padding-bottom: 35px
  font-weight: 700
  font-size: 22px

@include media(990px)
  .diplomas
    max-width: 100%
    display: flex
    gap: 45px
    justify-content: center
  .diplom-img
    width: 200px
    height: auto
    object-fit: cover
    .diplom__image
      width: 100%

  .diplom3
    display: flex
    gap: 14px
  .dipom2
    display: flex
    gap: 14px

@include media(770px)
  .diplom-img
    object-fit: cover

@include media(570px)
  .diplomas
    display: flex
    justify-content: center

  .footer-social__media
    display: flex
    flex-direction: column

  .dipom2
    display: flex
    flex-direction: column
    justify-content: center
  .diplom3
    display: flex
    flex-direction: column
    justify-content: center

@include media(465px)
  .footer-social
    display: flex
    flex-direction: column
  .logo-footer
    font-size: 40px
    padding-bottom: 120px
  .diplomas
    display: flex
    flex-wrap: wrap

@include media(340px)
  .diplomas
    display: flex
    justify-content: center
    align-items: center
  .diplom-title
    font-size: 35px
