.title__footer
  text-align: center
  font-size: 36px

.footer
  padding-top: 100px

.footer__content
  display: flex
  padding-top: 45px
  flex-direction: column
  align-items: center
  gap: 50px
  padding: 15px

.text-about
  max-width: 100%
  margin: 0 auto
  line-height: 35px
  font-size: 24px
  color: #000
  opacity: 0.9

.map-title
  padding-top: 75px
  padding-bottom: 45px
  font-size: 26px

iframe
  border-radius: 14px
  max-width: 100%

.numbers
  display: flex
  // align-items: center
  flex-direction: column

.title-contact
  font-size: 24px
  padding-bottom: 25px

.social-blog
  margin-top: 140px
  background: #250853
  color: #fff
  padding: 45px

.footer-social
  display: flex
  align-items: center
  justify-content: space-between

.logo-footer
  font-weight: 700
  font-size: 36px

.phone
  display: flex
  align-items: center
  padding-bottom: 25px
  gap: 14px

.whatsapp
  align-items: center
  display: flex
  align-items: center
  gap: 14px

.whatsapp-logo
  width: 30px
  height: 30px
  // border-radius: 50%

.telegram
  display: flex
  align-items: center
  gap: 14px

.blog-whatsapp
  padding-bottom: 24px

.footer-social__media
  display: flex
  gap: 100px
  max-width: 100%

.name-city
  padding-bottom: 35px

@include media(570px)
  .footer-social__media
    display: flex
    flex-direction: column

@include media(465px)
  .footer-social
    display: flex
    flex-direction: column
  .logo-footer
    font-size: 40px
    padding-bottom: 120px